<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace App</title>
    <link rel="stylesheet" href="static/form.css">
    <script>
      //<!--  function logoutFunction() {
            // Redirect to the homepage or index page
            //window.location.href = '/logout';
       // } -->
    </script>
</head>
<body>
    <header>
        <h1>Welcome to the Marketplace App</h1>
        <button id="logout" onclick="logoutFunction()">Logout</button>
    </header>
    
    <!-- Links to Other Pages -->
    <section>
        <h2><a href="postitem" style="text-decoration: none; color: inherit;">Post an Item</a></h2>
    </section>

    <section>
        <h2><a href="search" style="text-decoration: none; color: inherit;">Search Items by Category</a></h2>
    </section>

   <!-- Link to script.js -->
    <script src="static/script.js"></script>

</body>
</html>
