body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
    margin: 0; /* Reset default margin */
}
header {
    width: 100%;
    background-color: #add8e6; /* Light blue background */
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h1 {
    margin: 0; /* Reset default margin */
    color: #333;
}
form {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Add space between the header and the form */
}
input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button {
    width: calc(50% - 10px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-btn {
    background-color: #007bff;
    color: white;
}
.signup-btn {
    background-color: #28a745;
    color: white;
    float: right;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Adjusted for better modal sizing */
    box-sizing: border-box; /* Ensure padding and border are included in total width */
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.flash-success {
    color: green;
}

.flash-error {
    color: red;
}